@font-face {
  font-family: bricolage;
  src: url(./Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-family: bricolage;
  font-size: 3vw;
}

#header {
  display: grid;
  background-color: snow;
  color: lightskyblue;
  text-align: center;
  overflow: hidden;
  grid-template-rows: 2fr 1fr;
  place-items: center;
  margin-bottom: 2vh;
}

.buttons {
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}

.buttons :hover {
  color: #0ea5e9;
}

.home {
  background-color: #bae6fd;
  border-radius: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 2fr 1fr;
}
